body{

	background-color: #25136e;
}

/* **** Header */

.mainlogo{
	margin-top: 10px;
}

.maintitle
{
	color: #fff;
	
	font-variant: small-caps;

}

.tagline{
	color: #fff;
	font-variant: small-caps;
	margin-top: 40px;
}

.navigationhr{

	display: block; height: 1px;
    border: 0; border-top: 3px solid #eed91e;
    margin: 1em 0; padding: 0;

}


#navbanner{
color: #fff;

}


/* ****  END Header */

/* **** Main content  */

.maincontent{
	background-color: #fff;
	-moz-border-radius: 3px;
	border-radius: 3px;

}




/* **** END Main content */